* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
  }
  
.page-container {
  margin-bottom: 100px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.array {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

svg {
  width: 100%;
}

.controls-container {
  max-width: 500px;
  padding: 10px;
  margin: 5px;
  background-color: whitesmoke;
  border: 5px solid #2c2c2c;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.play-pause-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

button {
  border: 5px solid #2c2c2c;
}

input[type=number] {
  width: 50px;
}

select {
  width: 100px;
}